@model Assignment3_n01540458.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow">

    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a><br />
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete Teacher</a><br />
        <a class="navlink" href="/Teacher/Update/@Model.TeacherId">Update</a>
    </nav>

    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p>Employee Number - @Model.TeacherEmployeeNo</p>
    <p>Date of hiring - @Model.TeacherHiredate</p>
    <p>Employee salary - $@Model.TeacherSalary</p>

</div>

